.user-contens {
  width: 80vw;
  height: 10vh;
  margin: 5vh 0 0 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-content {
  font-size: 2vw;
  color: #58430a;
  font-weight: 700;

}