.user-contens {
  height: 5vh;
  margin: 3vh 20vw 3vh;
  display: flex;
  justify-content: space-between;
}

.user-content {
  font-size: 2vw;
  color: #58430a;
  font-weight: 700;
  display: block;
}