<%= render "shared/header" %>

  <div class='title-contents'>
    <h2 class='title-text'>
      KYOレシピ検索アプリ！
    </h2>
    <p class='title-sub-text'>
        簡単で、安くて、美味しい！<br>『今日』作れるものがすぐに見つかるアプリ！
    </p>
    </p>
  </div>
</div>
