<%= render "shared/header" %>
<%# _heder.htmlcss使用 %>
<div class='header-anker'>
</div>  

<div class="recipe-contents">
    <div class="recipe-list-title">
      新着レシピ (全件表示）
    </div>
    <div class="recipe-lists">
      <% @recipe.first(12).each do |recipe| %>
        <%= render partial: "shared/recipe_list", locals: { recipe: recipe } %>
      <% end %>
    </div>